<TMPL_IF LOOP NAME="KONETA">
<div class="koneta_list">
   <TMPL_LOOP NAME="KONETA">
	<div class="koneta_item">
	<p><TMPL_VAR NAME="LINK"></p>   
        <blockquote><TMPL_VAR NAME="QUOTE"></blockquote>
        <p><TMPL_VAR NAME="COMM"></p>
	<div class="hatena_relate"></div>
	</div>
   </TMPL_LOOP>
</div>
</TMPL_IF>
