<TMPL_IF LOOP NAME="KONETA">
<div class="koneta_list">
   <TMPL_LOOP NAME="KONETA">
	<div class="koneta_item">
       <TMPL_VAR NAME="LINK">   
       <TMPL_VAR NAME="QUOTE">
	</div>
   </TMPL_LOOP>
</div>
</TMPL_IF>
