<p>
Tiwtterユーザーネーム、ブログID、投稿者ID、カテゴリーID、投稿状態（未公開[1]もしくは公開[2]）、エントリータイトルの設定をしてください。
</p>
<mtapp:setting
    id="twitter_username"
    label="Twitter_Username">
    <input type="text" name="twitter_username" id="twitter_username" value="<mt:var name="twitter_username" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="blogid"
    label="blogid">
    <input type="text" name="blogid" id="blogid" value="<mt:var name="blogid" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="author_id"
    label="author_id">
    <input type="text" name="author_id" id="author_id" value="<mt:var name="author_id" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="category_id"
    label="categoryID">
    <input type="text" name="category_id" id="category_id" value="<mt:var name="category_id" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="status"
    label="公開ステータス">
    <input type="text" name="status" id="status" value="<mt:var name="status" escape="html">" />
</mtapp:setting>
<mtapp:setting
    id="title"
    label="エントリータイトル">
    <input type="text" name="title" id="title" value="<mt:var name="title" escape="html">" />
</mtapp:setting>
<ul>
<mtapp:setting
	id="display"
	label="表示内容">
<li><input type="radio" name="display" id="display" value="0" <TMPL_UNLESS NAME=DISPLAY>checked="checked"</TMPL_UNLESS> />すべて</li>
<li><input type="radio" name="display" id="display" value="1" <TMPL_IF NAME=DISPLAY_1>checked="checked"</TMPL_IF> />Replayを除く</li>
<li><input type="radio" name="display" id="display" value="2" <TMPL_IF NAME=DISPLAY_2>checked="checked"</TMPL_IF> />Mentionを除く</li>
</mtapp:setting>
</ul>
<ul>
